<section>


  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
    <header class="text-center">
      <h2 class="text-xl font-bold text-red-300 sm:text-3xl">
        ¡Prepárate para lucir increíble con la nueva colección de ropa!
      </h2>

      <p class="max-w-md mx-auto mt-4 text-gray-500">
        ¡Transporta la playa a tu armario con nuestra colección tropical! Descubre prendas frescas y cómodas con detalles únicos que te harán sentir como si estuvieras en la playa. ¡Explora ahora nuestra colección y siente la brisa marina en cada prenda!
      </p>
    </header>

    <ul class="grid grid-cols-1 gap-4 mt-8 lg:grid-cols-3 ">
      <li>
        <a href="#" class="relative block group shadow-lg shadow-gray-300">
          <img
            src="./../../../../assets/img/fotos/3a142da4-d1f8-4eb6-bfa8-3814ac6dcdc4.jpg"
            alt="" class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90" />

          <div class="absolute inset-0 flex flex-col items-start justify-end p-6 ">
            <h3 class="text-xl font-medium text-white">Gorros</h3>

            <span class="mt-1.5 inline-block bg-red-300 px-5 py-3 rounded-2xl text-xs font-medium uppercase tracking-wide text-white">
              Ver mas
            </span>
          </div>
        </a>
      </li>

      <li>
        <a href="#" class="relative block group shadow-lg shadow-gray-300">
          <img
            src="./../../../../assets/img/fotos/81a11442-dc0a-4592-8f73-8a3892fcaca8.jpg"
            alt="" class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90" />

          <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
            <h3 class="text-xl font-medium text-white">Camiseta Croc</h3>

            <span class="mt-1.5 inline-block bg-red-300 px-5 py-3 rounded-2xl text-xs font-medium uppercase tracking-wide text-white">
              Ver mas
            </span>
          </div>
        </a>
      </li>

      <li class="lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:row-start-1">
        <a href="#" class="relative block group shadow-lg shadow-gray-300">
          <img
            src="./../../../../assets/img/fotos/0822ee78-9e41-46ba-85d4-f214690bae6b.jpg"
            alt="" class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90" />

          <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
            <h3 class="text-xl font-medium text-white">Camiseta Flecos</h3>

            <span class="mt-1.5 inline-block bg-red-300 px-5 py-3 rounded-2xl text-xs font-medium uppercase tracking-wide text-white shadow-md">
              Ver mas
            </span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
