<header class="text-red-300 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-red-300 mb-4 md:mb-0">
      <img src="./../../../assets/img/fotos/LOGO A COLOR.png" alt="Logo" class="w-36  text-white p-2">
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-lg justify-center">
      <a class="mr-5 hover:text-gray-900">Inicio</a>
      <a class="mr-5 hover:text-gray-900">contáctenos</a>
    </nav>
    <button
      class="text-white inline-flex items-center bg-red-300 border-0 py-1 px-3 focus:outline-none hover:bg-red-400 rounded-2xl text-base mt-4 md:mt-0">
      Iniciar sesión
    </button>
  </div>
</header>
